<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS CRUD</title>
</head>

<body>
    <h1>This is Student List</h1>

   <ul>
    <a href="/add">ADD NAME</a>
    <br>
    <br>
    <% studentList.forEach((e) => { %>
         <br>
        <li><%= e.name %></li>
    <% }) %>
</ul>
</body>

</html>